body {
    font-size: 15px;
}

.navbar {
    margin-bottom: 0;
    background-color: #F5F5F5;
    border: 0;
    border-radius: 0;
}

.navbar-nav > li > a {
    height: 70px;
    padding-top: 25px !important;
}

.navbar-default .navbar-nav > li > a {
    color: #000;
}

.navbar-nav > li > a:hover {
    color: #FFF !important;
}

.navbar .navbar-header a {
    color: #000000 !important;
}

.navbar-nav li:hover {
    background-color: #CB2134 !important;
    color: #f9f9f9 !important;
}

.navbar-nav > li {
    border-right: 1px solid #dfdfdf;
}

.dropdown-menu li a:hover {
    color: #000 !important;
}

.dropdown-menu li a {
    color: #000 !important;
}

.dropdown-menu li a:hover {
    background-color: #CB2134 !important;
    color: #FFF !important;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
    background-color: #CB2134;
    color: #fff;
}

a:hover {
    text-decoration: none;
}

.extranews_separator {
    clear: both;
    background: transparent url(./images/separator.png) no-repeat 50%;
    display: block;
    height: 14px;
    margin: 0
}

/*product area*/
.col-item{
    border: solid 1px #E1E1E1;
    background-color: #FFFFFF;
    padding: 5px;
    margin-bottom: 10px;
}
.col-img {
    height: 200px;
    position: relative;
}
.col-name{
    height: 40px;
    margin-top: 10px;
    margin-bottom: 5px;
}
.col-price{
    height:40px;
    border-top: solid 1px #e1e1e1;
    padding-top: 5px;
    padding-bottom:0px;
}

/* Coupon Button
------------------------------*/
/* Coupon Code */
.coupon-button-type .coupon-deal, .coupon-button-type .coupon-print, .coupon-button-type .coupon-code {
    line-height: 1;
    padding: 14px 38px;
    background: #CB2134;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    display: inline-block;
    letter-spacing: 1px;
    text-transform: uppercase;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-bottom: 2px;
    min-width: 195px;
    text-align: center;
}

.coupon-button-type .coupon-deal:hover, .coupon-button-type .coupon-print:hover, .coupon-button-type .coupon-code:hover {
    opacity: 0.9;
}

.coupon-button-type .coupon-deal {
    box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.1) inset;
}

.coupon-button-type .coupon-print {
    padding: 14px 13px;
    box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.1) inset;
}

.coupon-button-type .coupon-code {
    color: #444444;
    background: linear-gradient(315deg, rgba(0, 0, 0, 0.06) 10%, transparent 15%, transparent 35%, rgba(0, 0, 0, 0.06) 40%, rgba(0, 0, 0, 0.06) 60%, transparent 65%, transparent 85%, rgba(0, 0, 0, 0.06) 90%) repeat scroll 0 0/6px 6px transparent;
    text-align: right;
    padding: 10px 12px;
    font-size: 20px;
    border: 2px solid #DDDDDD;
    position: relative;
}

.coupon-button-type .coupon-code .code-text {
    text-transform: uppercase;
}

.coupon-button-type .coupon-code .get-code {
    position: absolute;
    left: -2px;
    top: -2px;
    background: #CB2134;
    color: #FFFFFF;
    font-size: 16px;
    padding: 14px 15px 14px 14px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    transition: all 0.5s ease;
}

.coupon-button-type .coupon-code .get-code:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-top: 44px solid transparent;
    border-left: 44px solid #CB2134;
    position: absolute;
    right: -44px;
    top: 0;
}

.coupon-button-type .coupon-code .get-code:hover {
    padding-right: 5px;
    transition: all 0.5s ease;
}
